__pycache__/
venv_app_estadistica/
venv/
Calcs/__pycache__/Calc_Frecuences_Cualitative_Normal_Extended.cpython-312.pyc
Calcs/__pycache__/Calc_Frecuences_Cuantitative_Many_Values.cpython-312.pyc
.vscode/
*.spec
*.bat
*.json
*.pyw
Config/
build/
dist/
*.iss
*.manifest
Output/
*.dll
*.cpp

DEMO/