# Carpetas
__pycache__/
.vscode/
venv_app_estadistica/
venv/
Calcs/__pycache__/Calc_Frecuences_Cualitative_Normal_Extended.cpython-312.pyc
Calcs/__pycache__/Calc_Frecuences_Cuantitative_Many_Values.cpython-312.pyc
DEMO/
Images/Tutorial/
Logs/
Config/
build/
Output/
dist/
Docs/
Stable_Installers/

# Archivos con ciertas extensiones
*.spec
*.bat
*.json
*.pyw
*.iss
*.manifest
*.dll
*.cpp
*.toml